<footer class="page-footer">
    <div class="container">
        <div class="page-footer__top">
            <div class="page-footer__left">
                <div class="page-logo page-logo_column page-footer__logo">
                    <a href="#">
                        <img class="lazyload page-logo__img"
                             data-sizes="auto"
                             data-srcset="_asset/img/logo.png 74w, _asset/img/logo@2x.png 148w"
                             width="74" height="74"
                             alt="Федеральная пробирная палата">
                    </a>
                    <div class="page-logo__text">
                        <p class="page-logo__title">
                            Федеральная<br/>
                            пробирная палата
                        </p>
                        <p class="page-logo__sub-title">
                            Осуществляем пробирный<br/>
                            надзор с&nbsp;1700&nbsp;года
                        </p>
                    </div>
                </div><!--.page-logo-->

                <p class="page-footer__phone hidden-max-mobile">
                    <a class="site-phone"
                       href="mailto:+74956902727">
                        +7 (495) 690-27-27
                    </a>
                </p>
                <p class="page-footer__mail hidden-max-mobile">
                    <a class="text-link-border text-link-border_white"
                       href="mailto:probpalata@probpalata.ru">
                        probpalata@probpalata.ru
                    </a>
                </p>
                <p class="page-footer__address hidden-max-mobile">
                    125009, г.&nbsp;Москва, ул.&nbsp;Большая Никитская, д.&nbsp;17, стр.&nbsp;2
                </p>
                <p class="page-footer__bvi hidden-max-mobile bvi-hide">
                    <a href="#" class="text-link-border text-link-border_white bvi-open">
                        Версия сайта для слабовидящих
                    </a>
                </p>

                <ul class="page-footer__partners hidden-min-tablet">
                    <li class="gos-partner">
                        <img class="lazyload gos-partner__logo"
                             data-src="_asset/img/gos-partners/government.svg"
                             width="40" height="40"
                             alt="icon">
                        <span class="gos-partner__text">Правительство России</span>
                    </li>
                    <li class="gos-partner">
                        <img class="lazyload gos-partner__logo"
                             data-src="_asset/img/gos-partners/government.svg"
                             width="40" height="40"
                             alt="icon">
                        <span class="gos-partner__text">Минфин России</span>
                    </li>
                    <li class="gos-partner">
                        <img class="lazyload gos-partner__logo"
                             data-sizes="auto"
                             data-srcset="_asset/img/gos-partners/gosuslugi.png 40w, _asset/img/gos-partners/gosuslugi@2x.png 80w"
                             width="40" height="40"
                             alt="icon">
                        <span class="gos-partner__text">Госуслуги</span>
                    </li>
                    <li class="gos-partner">
                        <img class="lazyload gos-partner__logo"
                             data-src="_asset/img/gos-partners/gosznak.svg"
                             width="40" height="40"
                             alt="icon">
                        <span class="gos-partner__text">Госзнак</span>
                    </li>
                    <li class="gos-partner">
                        <img class="lazyload gos-partner__logo"
                             data-src="_asset/img/gos-partners/gosznak.svg"
                             width="40" height="40"
                             alt="icon">
                        <span class="gos-partner__text">Стопкоронавирус</span>
                    </li>
                </ul><!--.page-footer__partners-->
            </div><!--.page-footer__left-->

            <div class="page-footer__right">
                <div class="page-footer__nav">
                    <div class="page-footer__nav__col">
                        <nav class="page-group-nav">
                            <p class="page-group-nav__title">
                                <a href="#">
                                    О палате
                                    <svg class="page-group-nav__title__icon"
                                         viewBox="0 0 7 11">
                                        <path d="M1 10L5.5 5.5L0.999999 1" stroke-width="1.5"/>
                                    </svg>
                                </a>
                            </p>
                            <ul class="page-group-nav__list">
                                <li>
                                    <a href="#">Задачи и функции</a>
                                </li>
                                <li>
                                    <a href="#">Руководство</a>
                                </li>
                                <li>
                                    <a href="#">Структура</a>
                                </li>
                                <li>
                                    <a href="#">История пробирного надзора</a>
                                </li>
                                <li>
                                    <a href="#">Открытое ведомство</a>
                                </li>
                                <li>
                                    <a href="#">Кадровое обеспечение</a>
                                </li>
                                <li>
                                    <a href="#">Контактная информация</a>
                                </li>
                                <li>
                                    <a href="#">Общественный совет</a>
                                </li>
                            </ul>
                        </nav><!--.page-group-nav-->
                    </div><!--.page-footer__nav__col-->

                    <div class="page-footer__nav__col">
                        <nav class="page-group-nav">
                            <p class="page-group-nav__title">
                                <a href="#">
                                    Деятельность
                                    <svg class="page-group-nav__title__icon"
                                         viewBox="0 0 7 11">
                                        <path d="M1 10L5.5 5.5L0.999999 1" stroke-width="1.5"/>
                                    </svg>
                                </a>
                            </p>
                            <ul class="page-group-nav__list">
                                <li>
                                    <a href="#">Спецучет</a>
                                </li>
                                <li>
                                    <a href="#">Лицензирование</a>
                                </li>
                                <li>
                                    <a href="#">Регистрация именников</a>
                                </li>
                                <li>
                                    <a href="#">Опробование и клеймение</a>
                                </li>
                                <li>
                                    <a href="#">Аффинаж</a>
                                </li>
                                <li>
                                    <a href="#">Ломбарды и скупка</a>
                                </li>
                                <li>
                                    <a href="#">Пробирный надзор</a>
                                </li>
                                <li>
                                    <a href="#">Контроль за ввозом и вывозом</a>
                                </li>
                                <li>
                                    <a href="#">Финансовый мониторинг</a>
                                </li>
                            </ul>
                        </nav><!--.page-group-nav-->
                    </div><!--.page-footer__nav__col-->

                    <div class="page-footer__nav__col">
                        <nav class="site-links">
                            <ul class="site-links__group">
                                <li>
                                    <a href="#">Документы</a>
                                </li>
                                <li>
                                    <a href="#">Территориальные органы</a>
                                </li>
                                <li>
                                    <a href="#">Открытые данные</a>
                                </li>
                                <li>
                                    <a href="#">Противодействие коррупции</a>
                                </li>
                                <li>
                                    <a href="#">Интернет-приёмная</a>
                                </li>
                            </ul>
                            <ul class="site-links__group">
                                <li>
                                    <a href="#">ГИИС ДМДК</a>
                                </li>
                            </ul>
                            <ul class="site-links__group">
                                <li>
                                    <a href="#">Карта сайта</a>
                                </li>
                                <li>
                                    <a href="#">О сайте</a>
                                </li>
                            </ul>
                        </nav><!--.site-links-->
                    </div><!--.page-footer__nav__col-->
                </div><!--.page-footer__nav-->
            </div><!--.page-footer__right-->

            <div class="page-footer__contacts-mobile hidden-min-mobile">
                <p class="page-footer__phone">
                    <a class="site-phone"
                       href="mailto:+74956902727">
                        +7 (495) 690-27-27
                    </a>
                </p>
                <p class="page-footer__mail">
                    <a href="mailto:probpalata@probpalata.ru"
                       class="text-link-border text-link-border_white">
                        probpalata@probpalata.ru
                    </a>
                </p>
                <p class="page-footer__address">
                    125009, г.&nbsp;Москва, ул.&nbsp;Большая Никитская, д.&nbsp;17, стр.&nbsp;2
                </p>
                <p class="page-footer__bvi bvi-hide">
                    <a href="#" class="text-link-border text-link-border_white bvi-open">
                        Версия сайта для слабовидящих
                    </a>
                </p>
            </div><!--.page-footer__contacts-mobile-->
        </div><!--.page-footer__top-->

        <div class="page-footer__bottom">
            <div class="page-footer__left">
                <p class="page-footer__copy">
                    &copy; Федеральная пробирная палата, 2022
                </p>
            </div><!--.page-footer__left-->

            <div class="page-footer__right hidden-max-tablet">
                <ul class="page-footer__partners">
                    <li class="gos-partner">
                        <img class="lazyload gos-partner__logo"
                             data-src="_asset/img/gos-partners/government.svg"
                             width="40" height="40"
                             alt="icon">
                        <span class="gos-partner__text">Правительство России</span>
                    </li>
                    <li class="gos-partner">
                        <img class="lazyload gos-partner__logo"
                             data-src="_asset/img/gos-partners/government.svg"
                             width="40" height="40"
                             alt="icon">
                        <span class="gos-partner__text">Минфин России</span>
                    </li>
                    <li class="gos-partner">
                        <img class="lazyload gos-partner__logo"
                             data-sizes="auto"
                             data-srcset="_asset/img/gos-partners/gosuslugi.png 40w, _asset/img/gos-partners/gosuslugi@2x.png 80w"
                             width="40" height="40"
                             alt="icon">
                        <span class="gos-partner__text">Госуслуги</span>
                    </li>
                    <li class="gos-partner">
                        <img class="lazyload gos-partner__logo"
                             data-src="_asset/img/gos-partners/gosznak.svg"
                             width="40" height="40"
                             alt="icon">
                        <span class="gos-partner__text">Госзнак</span>
                    </li>
                    <li class="gos-partner">
                        <img class="lazyload gos-partner__logo"
                             data-src="_asset/img/gos-partners/stopcorona.svg"
                             width="40" height="40"
                             alt="icon">
                        <span class="gos-partner__text">Стопкоронавирус</span>
                    </li>
                </ul><!--.page-footer__partners-->
            </div><!--.page-footer__right-->
        </div><!--.page-footer__bottom-->
    </div><!--.container-->
</footer><!--.page-footer-->
