<div class="page__header" data-header>
    <header class="page-header">
        <div class="container">
            <div class="page-header__in">
                <div class="page-logo">
                    <a href="#">
                        <img class="lazyload page-logo__img"
                             data-sizes="auto"
                             data-srcset="_asset/img/logo.png 74w, _asset/img/logo@2x.png 148w"
                             width="74" height="74"
                             alt="Федеральная пробирная палата">
                    </a>
                    <div class="page-logo__text">
                        <p class="page-logo__title">
                            Федеральная<br/>
                            пробирная палата
                        </p>
                        <p class="page-logo__sub-title">
                            Осуществляем пробирный<br/>
                            надзор с&nbsp;1700&nbsp;года
                        </p>
                    </div>
                </div><!--.page-logo-->

                <ul class="page-menu page-header__menu">
                    <li class="page-menu__item">
                        <a class="page-menu__link"
                           href="#">
                            О палате
                        </a>
                    </li>
                    <li class="page-menu__item">
                        <a class="page-menu__link"
                           href="#">
                            Деятельность
                        </a>
                    </li>
                    <li class="page-menu__item">
                        <a class="page-menu__link"
                           href="#">
                            Документы
                        </a>
                    </li>
                    <li class="page-menu__item">
                        <a class="page-menu__link"
                           href="#">
                            ГИИС ДМДК
                        </a>
                    </li>
                </ul><!--.page-.menu-->

                <ul class="form-check-nav form-check-nav_detacked page-header__form-check-nav bvi-hide">
                    <li class="form-check-nav__item">
                        <span>Проверить<br/>ювелирное изделие</span>
                    </li>
                    <li class="form-check-nav__item">
                        <span>Проверить<br/>организацию</span>
                    </li>
                </ul><!--.form-check__nav-->

                <div class="page-header__buttons">
                    <button type="button"
                            class="button-header page-header__buttons__button bvi-hide"
                            data-search-open>
                        <svg class="button-header__search"
                             viewBox="0 0 18 18">
                            <path d="M6.971 12.942C10.2687 12.942 12.942 10.2687 12.942 6.971C12.942 3.67331 10.2687 1 6.971 1C3.67331 1 1 3.67331 1 6.971C1 10.2687 3.67331 12.942 6.971 12.942Z"
                                  stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M11.1562 11.2305L17.0013 17.1575"
                                  stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>

                    <button type="button"
                            class="button-header page-header__buttons__button"
                            data-burger>
                        <div class="button-header__burger"></div>
                    </button>
                </div><!--.page-header__buttons-->
            </div><!--.page-header__in-->
        </div><!--.container-->
    </header><!--.page-header-->

    <div class="page-search page__header__search"
         data-search>
        <div class="page-search__in">
            <input class="page-search__input"
                   type="text"
                   placeholder="Поиск по сайту">
            <button type="submit"
                    class="page-search__submit">Искать</button>
        </div>

        <button type="button"
                class="button-header is-active page-search__close bvi-hide"
                data-search-close>
            <div class="button-header__burger"></div>
            Закрыть
        </button>
    </div><!--.page-search-->

    <div class="page-header-detail page__header__detail"
         data-menu-collapse>
        <div class="container">
            <div class="page-header-detail__content">
                <div class="page-header-detail__content__column">
                    <nav class="page-group-nav">
                        <p class="page-group-nav__title">
                            <a href="#">
                                О <span class="hidden-max-tablet bvi-hide">Федеральной пробирной</span> палате
                                <svg class="page-group-nav__title__icon bvi-no-styles"
                                     viewBox="0 0 7 11">
                                    <path class="bvi-no-styles"
                                          d="M1 10L5.5 5.5L0.999999 1" stroke-width="1.5"/>
                                </svg>
                            </a>
                        </p>
                        <ul class="page-group-nav__list">
                            <li>
                                <a href="#">Задачи и функции</a>
                            </li>
                            <li>
                                <a href="#">Руководство</a>
                            </li>
                            <li>
                                <a href="#">Структура</a>
                            </li>
                            <li>
                                <a href="#">История пробирного надзора</a>
                            </li>
                            <li>
                                <a href="#">Открытое ведомство</a>
                            </li>
                            <li>
                                <a href="#">Кадровое обеспечение</a>
                            </li>
                            <li>
                                <a href="#">Контактная информация</a>
                            </li>
                            <li>
                                <a href="#">Общественный совет</a>
                            </li>
                        </ul>
                    </nav><!--.page-group-nav-->
                </div><!--.page-header-detail__content__column-->

                <div class="page-header-detail__content__column">
                    <nav class="page-group-nav">
                        <p class="page-group-nav__title">
                            <a href="#">
                                Деятельность
                                <svg class="page-group-nav__title__icon bvi-no-styles"
                                     viewBox="0 0 7 11">
                                    <path class="bvi-no-styles"
                                          d="M1 10L5.5 5.5L0.999999 1" stroke-width="1.5"/>
                                </svg>
                            </a>
                        </p>
                        <ul class="page-group-nav__list">
                            <li>
                                <a href="#">Спецучет</a>
                            </li>
                            <li>
                                <a href="#">Лицензирование</a>
                            </li>
                            <li>
                                <a href="#">Регистрация именников</a>
                            </li>
                            <li>
                                <a href="#">Опробование и клеймение</a>
                            </li>
                            <li>
                                <a href="#">Аффинаж</a>
                            </li>
                            <li>
                                <a href="#">Ломбарды и скупка</a>
                            </li>
                            <li>
                                <a href="#">Пробирный надзор</a>
                            </li>
                            <li>
                                <a href="#">Контроль за ввозом и вывозом</a>
                            </li>
                            <li>
                                <a href="#">Финансовый мониторинг</a>
                            </li>
                        </ul>
                    </nav><!--.page-group-nav-->
                </div><!--.page-header-detail__content__column-->

                <div class="page-header-detail__content__column">
                    <nav class="site-links">
                        <ul class="site-links__group">
                            <li>
                                <a href="#">Документы</a>
                            </li>
                            <li>
                                <a href="#">Территориальные органы</a>
                            </li>
                            <li>
                                <a href="#">Открытые данные</a>
                            </li>
                            <li>
                                <a href="#">Противодействие коррупции</a>
                            </li>
                            <li>
                                <a href="#">Интернет-приёмная</a>
                            </li>
                        </ul>
                        <ul class="site-links__group">
                            <li>
                                <a href="#">ГИИС ДМДК</a>
                            </li>
                        </ul>
                        <ul class="site-links__group">
                            <li>
                                <a href="#">Карта сайта</a>
                            </li>
                            <li>
                                <a href="#">О сайте</a>
                            </li>
                        </ul>
                    </nav><!--.site-links-->
                </div><!--.page-header-detail__content__column-->
            </div><!--.page-header-detail__content-->

            <div class="page-header-detail__footer">
                <p class="site-copy page-header-detail__copy">
                    &copy; Федеральная пробирная палата, 2022
                </p>
                <p class="page-header-detail__address">
                    125009, г.&nbsp;Москва, ул.&nbsp;Большая Никитская, д.&nbsp;17, стр.&nbsp;2
                </p>
                <p class="page-header-detail__phone">
                    <a class="site-phone"
                       href="mailto:+74956902727">
                        +7 (495) 690-27-27
                    </a>
                </p>
            </div><!--.page-header-detail__footer-->
        </div><!--.container-->
    </div><!--.page-header-detail-->
</div><!--.page__header-->

