/* ==========================================================================
   Post Date
   ========================================================================== */

.post-date { display: block; font-size: .6rem; line-height: 1.5; color: @color-text-lighter; }

@media @maxTablet {
  .post-date { font-size: .55rem; }
}

/* ==========================================================================
   Post Number
   ========================================================================== */

.post-num { color: @color-secondary; font-family: @font-addl; font-size: 1.5rem; line-height: 1; font-weight: 500; }

@media @maxTablet {
  .post-num { font-size: .8rem; }
}

/* ==========================================================================
   Attention
   ========================================================================== */

.attention { display: flex; align-items: center; color: @color-primary; }
.attention__icon { margin: 0 1rem 0 0; }
.attention__text { font-size: .7rem; line-height: 1.4; font-weight: 500; }

/* ==========================================================================
   Hr divider
   ========================================================================== */

hr { border: none; border-top: solid 1px @color-border; margin: 3.5rem 0; }

@media @maxTablet {
  hr { margin: 2rem 0; }
}

/* ==========================================================================
   Button Scroll Up
   ========================================================================== */

.button-scroll-up { position: fixed; bottom: 2rem; right: 2rem; z-index: 3; background: @color-bg; padding: .5rem 1rem; border-radius: .5rem; opacity: 0; pointer-events: none; transition: opacity .2s;
  &.is-shown { opacity: 1; pointer-events: auto; }
}

@media @maxTablet {
  .button-scroll-up { right: 1rem; bottom: 1rem; }
}

@media @maxMobile {
  .button-scroll-up { right: .2rem; }
}